<!-- //////////////////////add/////////////////////////////// -->
<p-dialog
  header="ajoute boat"
  [(visible)]="displayBasic3"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="card-body">
    <h4 class="card-title">boat Table</h4>

    <form class="forms-sample" [formGroup]="hotelForm">
      <div class="form-group">
        <label for="exampleInputUsername1">name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputUsername1"
          placeholder="name"
          formControlName="name"
        />
      </div>
     
      <div class="form-check form-check-flat form-check-primary"></div>
      <button type="submit" class="btn btn-primary mr-2" (click)="addHotel()">
        save
      </button>
      <button (click)="displayBasic3 = false" class="btn btn-light">
        Cancel
      </button>
    </form>
  </div>
</p-dialog>

<!-- //////////////////////READ/////////////////////////////// -->
<div *ngIf="_dataRead">
  <p-dialog
    header=" {{ _dataRead.name }}"
    [(visible)]="displayBasic2"
    [modal]="true"
    [style]="{ width: '60vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="row">
     
      <div class="col-6">
        <div class="row">
          <div class="col-7">
            <h4>{{ _dataRead.name }}</h4>
          </div>
          <div class="col-4"></div>
        </div>
       
      </div>
      
    </div>
    <ng-template pTemplate="footer">
      <button
        icon="pi pi-check"
        (click)="displayBasic2 = false"
        label="Cancel"
        class="p-button-text"
      ></button>
    </ng-template>
  </p-dialog>
</div>

<!-- ///////////////////////////////UPDATE///////////////////////////////////// -->

<!-- ////////////////////////update hotel////////////////////////////////////// -->
<p-dialog
  header="update boat"
  [(visible)]="displayBasic"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="card-body">
    <h4 class="card-title">Hotels</h4>
    <form class="forms-sample" [formGroup]="hotelForm">
      <div class="form-group">
        <label for="exampleInputUsername1"> Table boat </label>
        <input
          type="text"
          class="form-control"
          id="exampleInputUsername1"
          placeholder="name"
          formControlName="name"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary mr-2"
        (click)="updateboat()"
      >
        save
      </button>
      <button (click)="deleteboat()" class="btn btn-light">
        Cancel
      </button>
    </form>
  </div>
</p-dialog>
<!-- //////////////////////////////////////////////////////////////////// -->
<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">boat</h4>

          <button
            pButton
            pRipple
            (click)="showBasicDialog3()"
            type="button"
            title="ajouter"
            class="p-button-rounded"
            style="margin-right: 5px"
          >
            ajouter
          </button>

          <ng-template pTemplate="footer">
            <button
              icon="pi pi-check"
              (click)="displayBasic3 = false"
              label="Cancel"
              class="p-button-text"
            ></button>
          </ng-template>

          <p class="card-description">Hotels table</p>
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th>name</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hotel of _hotel">
                  <td>{{ hotel.name }}</td>
                  <td>
                    <button
                      pButton
                      pRipple
                      (click)="showBasicDialog2(hotel)"
                      type="button"
                      icon="ti-clipboard"
                      class="p-button-rounded"
                      style="margin-right: 5px"
                    ></button>
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-warning"
                      style="margin-right: 5px"
                      (click)="showBasicDialog(hotel)"
                    ></button>
                    <button
                      (click)="deleteboat(hotel._id)"
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-danger"
                      style="margin-right: 5px"
                    ></button> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->

<!-- partial -->
<!-- <p-confirmPopup></p-confirmPopup> -->
