<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="ti-shield menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="collapse"
            href="#ui-basic"
            aria-expanded="false"
            aria-controls="ui-basic"
          >
            <i class="ti-palette menu-icon"></i>
            <span class="menu-title">Personne</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/admin/tours"
                  href="javascript:void(0)"
                  >surviver</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="../../pages/ui-features/typography.html"
                  >saver</a
                >
              </li>
            </ul>
          </div>
        </li> 
      <li class="nav-item">
        <a class="nav-link"  routerLink="/admin/tours" href="javascript:void(0)">
          <i class="ti-map-alt  menu-icon"></i>
          <span class="menu-title">Boat</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/admin/hotel" href="javascript:void(0)">
          <i class="ti-view-list-alt menu-icon"></i>
          <span class="menu-title">Sortie</span>
        </a>
      </li>
    </ul>
  </nav>
  